{% load block_tags %}

<div class="pure-g">
{% for b in body_list %}

  {% if b.article_type == 'text_right' %}
  <div class="pure-u-1 pure-u-md-{{ b.image_size }}">
    {% include 'compose/_body_picture.html' with image_class='article-image-left' %}
  </div>
  {% endif %}

  {% if b.article_type == 'text_bottom' or b.article_type == 'picture_only' %}
  <div class="pure-u-1">
    {% include 'compose/_body_picture.html' with image_class='article-image-center' %}
  </div>
  {% endif %}

  {% if not b.article_type == 'picture_only' %}
  <div class="pure-u-1 pure-u-md-{{ b.text_size }}">
    {% include 'compose/_text.html' with text_class='l-box' %}
  </div>
  {% endif %}

  {% if b.article_type == 'text_right' %}
    <div class="pure-u-1 pure-u-md-{{ b.image_size }}">
      {% include 'compose/_body_picture.html' with image_class='article-image-left' %}
    </div>
  {% endif %}

  {% if b.article_type == 'text_left' %}
    <div class="pure-u-1 pure-u-md-{{ b.image_size }}">
      {% include 'compose/_body_picture.html' with image_class='article-image-right' %}
    </div>
  {% endif %}

{% endfor %}
</div>

{% if design %}{% block_add body_create_url 'Article' %}{% endif %}
