{% load block_tags %}
{% load thumbnail %}
{% for b in card_list %}
  {% if forloop.first %}
    <div class="pure-g">
  {% endif %}
  {% if b.article_type == 'text_only' or not b.picture %}
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
      {% include 'compose/_text.html' with text_class='l-box' %}
    </div>
  {% else %}
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="pure-g">
        <div class="pure-u-1-3">
          <div class="l-box">
            {% if b.picture %}
              {% if b.link %}
                <a href="{{ b.link.url }}" target="_blank">
              {% endif %}
              <img alt="{{ b.picture.title }}" title="{{ b.picture.title }}" class="{{ image_class }} pure-img" src="{% thumbnail b.picture.image 100x200 crop='smart' %}">
              {% if b.link %}
                </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="pure-u-2-3">
          {% include 'compose/_text.html' with text_class='t-box' %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if forloop.last %}
    </div>
  {% endif %}
{% endfor %}
{% if design %}{% block_add card_create_url 'Card' %}{% endif %}
