{% load block_tags %}
{% load thumbnail %}

{% for b in slideshow_list %}
  {% for picture in b.slideshow.all %}
    {% if forloop.first %}
      <ul class="bxslider">
    {% endif %}
    <li>
      <img src="{% thumbnail picture.image 3681x664 autocrop %}" title="{{ picture.title }}" class="pure-img" />
    </li>
    {% if forloop.last %}
      </ul>
      <h1>
        {% if b.title %}
          {{ b.title }}
        {% else %}
          {{ header_footer.header }}
        {% endif %}
      </h1>
    {% endif %}
  {% endfor %}
  {% if design %}{% block_moderate b %}{% endif %}
{% empty %}
  {% if design %}{% block_add slideshow_create_url 'Slideshow' %}{% endif %}
{% endfor %}
