{% extends "cms/base.html" %}

{% load block_tags %}
{% load thumbnail %}

{% block content %}
  {% for b in body_list %}
    {% if design %}
      <div class="pure-g">
        <div class="pure-u-1">
          <div class="l-box">
          </div>
        </div>
      </div>
    {% endif %}
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-3-4">
        <div class="l-box">
          {% if b.description %}
            {% autoescape off %}
              {{ b.description }}
            {% endautoescape %}
          {% endif %}
          {% block_moderate b %}
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="l-box">
          {% if b.logo %}
            <img src="{% thumbnail b.logo 224x168 crop %}" />
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  {% if design %}{% block_add body_create_url %}{% endif %}
{% endblock content %}
