{% extends 'compose/base.html' %}

{% load static %}

{% block title %}
  {{ page.name}}
{% endblock title %}

{% block stylesheets_extra %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'compose/css/compose.css' %}">
  <link rel="stylesheet" href="{% static 'web/css/web.css' %}">
{% endblock stylesheets_extra %}

{% block header %}
  <div class="header">
    {% include 'compose/_header_slideshow.html' %}
  </div>
{% endblock header %}

{% block content %}
  {% include 'compose/_body.html' %}
  {% if form %}
    <div class="l-box">
      {% include '_form.html' %}
    </div>
  {% endif %}
  {# calendar from the booking app #}
  {% if calendar %}
    {% for c in calendar %}
      <div class="pure-g">
        {% for month in c %}
          <div class="pure-u-1 pure-u-md-1-3">
            <div class="l-box">
              {{ month }}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
  {% include 'compose/_card.html' %}
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_slider.html' %}
{% endblock script_extra %}
