{% extends 'compose/base.html' %}

{% load block_tags %}
{% load thumbnail %}

{% load static %}

{% block title %}
  {{ page.name}}
{% endblock title %}

{% block stylesheets_extra %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'compose/css/compose.css' %}">
  <link rel="stylesheet" href="{% static 'web/css/web.css' %}">
{% endblock stylesheets_extra %}

{% block header %}
  <div class="header">
    {% include 'compose/_header_slideshow.html' %}
  </div>
{% endblock header %}

{% block content %}
  {% for g in gallery_list %}
    {{ g }}
    {% if design %}
      {% block_moderate g %}
    {% endif %}
  {% empty %}
    {% if design %}
      <div class="pure-g">
        <div class="pure-u-1">
          {% block_add gallery_create_url 'Gallery' %}
        </div>
      </div>
    {% endif %}
  {% endfor g in body_list %}
  <div class="my-gallery" itemscope itemtype="http://schema.org/imagegallery">
    {% for g in gallery_list %}
      {% for item in g.ordered_slideshow %}
        <figure itemprop="associatedmedia" itemscope itemtype="http://schema.org/imageobject">
          <a href="{% thumbnail item.image.image 600x400 autocrop background %}" itemprop="contenturl" data-size="600x400">
            <img src="{% thumbnail item.image.image 150x100 autocrop background %}" itemprop="thumbnail" alt="image description" />
          </a>
          <figcaption itemprop="caption description">image caption</figcaption>
        </figure>
      {% endfor %}
    {% endfor %}
  </div>
  {% include 'base/_photoswipe.html' %}
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_slider.html' %}
  {% include 'base/_photoswipe.js.html' %}
{% endblock script_extra %}
