{% extends 'compose/base.html' %}

{% load block_tags %}
{% load thumbnail %}

{% load static %}

{% block title %}
  {{ page.name}}
{% endblock title %}

{% block stylesheets_extra %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'compose/css/compose.css' %}">
  <link rel="stylesheet" href="{% static 'web/css/web.css' %}">
{% endblock stylesheets_extra %}

{% block header %}
  <div class="header">
    {% include 'compose/_header_slideshow.html' %}
  </div>
{% endblock header %}

{% block content %}
  <div class="pure-g">
    <div class="my-gallery" itemscope itemtype="http://schema.org/imagegallery">
      {% for g in gallery_list %}
        {% for item in g.ordered_slideshow %}
          <figure itemprop="associatedmedia" itemscope itemtype="http://schema.org/imageobject">
            <a href="{{ MEDIA_URL }}{{ item.image.image }}" itemprop="contenturl" data-size="{{ item.image.image.width }}x{{ item.image.image.height }}">
              <img src="{% thumbnail item.image.image '200x0' crop='auto' %}" itemprop="thumbnail" alt="{{ item.image.title }}" />
            </a>
            <figcaption itemprop="caption description">{{ item.image.title }}</figcaption>
          </figure>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  {% if design %}
    <div class="pure-g">
      <div class="pure-u-1">
        {% for g in gallery_list %}
          {% block_moderate g %}
        {% empty %}
          {% block_add gallery_create_url 'Gallery' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% include 'base/_photoswipe.html' %}
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_slider.html' %}
  {% include 'base/_photoswipe.js.html' %}
{% endblock script_extra %}
