.article-image-right {
    float: right;
    padding-top: 1.3em;
}

.article-image-left {
    float: left;
    padding-top: 1.3em;
}

.article-image-center {
    margin: auto;
    padding-top: 1.3em;
}

.article-image-header {
    margin: auto;
}
