{% extends "holding/base.html" %}
{% load cms_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block sub_title %}
  Example appss
{% endblock sub_title %}

{% block heading %}
  {% if content.company %}
    {{ content.company }}
  {% endif %}
{% endblock heading %}

{% block sub_heading %}
  {% if content.what_we_do %}
    {{ content.what_we_do }}
  {% endif %}
{% endblock sub_heading %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'holding/css/holding.css' %}">
{% endblock stylesheets %}

{% block menu %}
  {% if user.is_authenticated %}
    <li {% if design %}class="pure-menu-selected"{% endif %}>
      <a href="{% url "holding.page.design.home" %}">Design</a>
    </li>
  {% endif %}
{% endblock menu %}

{% block content %}
  {% if design %}
    <div class="pure-g-r">
      <div class="pure-u-1">
        <div class="l-box">
          {% cms_moderate content False %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="pure-g-r">
    <div class="pure-u-3-4">
      <div class="l-box">
        {{ content.description|urlize|linebreaksbr }}
      </div>
    </div>
    <div class="pure-u-1-4">
      <div class="l-box">
        {% if content.logo %}
          <img src="{% thumbnail content.logo 224x168 crop %}" />
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}
  <div class="legal pure-g-r">
    <div class="pure-u-1-5">
    </div>
    <div class="pure-u-3-5">
      <div class="l-box legal-logo">
        {% for f in footer_content %}
          <p class="legal-license">
          {% if f.title %}
            {{ f.title|linebreaksbr }}
          {% endif %}
          {% if design %}{% cms_moderate f False %}{% endif %}
          </p>
        {% endfor %}
        <br />
        <a href="http://yuilibrary.com/">
          <img height="30" width="65" alt="YUI logo" src="{% static "img/holding/yui.png" %}">
        </a>
        <p class="legal-license">
          This site is built using
          <a href="http://purecss.io/">
            Yahoo Pure CSS
          </a>
        </p>
      </div>
    </div>
    <div class="pure-u-1-5">
    </div>
  </div>
{% endblock footer %}
