{% extends "holding/base.html" %}
{% load block_tags %}
{% load staticfiles %}
{% load thumbnail %}


{% if body_list %}
  {% block title %}
    {% for b in body_list %}
      {{ b.company }}
    {% endfor %}
  {% endblock title %}
  {% block heading %}
    {% for b in body_list %}
      {{ b.company }}
    {% endfor %}
  {% endblock heading %}
{% endif %}

{% block sub_heading %}
  {% for b in body_list %}
    {{ b.what_we_do }}
  {% endfor %}
{% endblock sub_heading %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'holding/css/holding.css' %}">
{% endblock stylesheets %}

{% block menu %}
  {% if user.is_authenticated %}
    <li>
      <a href="{% if design %}..{% else %}{{ page.get_design_url }}{% endif %}"
        title="{% if design %}View{% else %}Design{% endif %}" >
        {% if design %}
          <i class="fa fa-square-o"></i>
          View
        {% else %}
          <i class="fa fa-edit"></i>
          Design
        {% endif %}
      </a>
    </li>
  {% endif %}
{% endblock menu %}

{% block content %}
  {% for b in body_list %}
    {% if design %}
      <div class="pure-g">
        <div class="pure-u-1">
          <div class="l-box">
            {% block_moderate b False %}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-3-4">
        <div class="l-box">
          {% if b.description %}
            {{ b.description|urlize|linebreaksbr }}
          {% endif %}
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="l-box">
          {% if b.logo %}
            <img src="{% thumbnail b.logo 224x168 crop %}" />
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}

{% block footer %}
  <div class="legal pure-g">
    <div class="pure-u-1 pure-u-md-1-5">
    </div>
    <div class="pure-u-1 pure-u-md-3-5">
      <div class="l-box legal-logo">
        {% for f in footer_list %}
          <p class="legal-license">
          {% if f.title %}
            {{ f.title|linebreaksbr }}
          {% endif %}
          {% if design %}{% block_moderate f False %}{% endif %}
          </p>
        {% endfor %}
        <br />
        <a href="http://yuilibrary.com/">
          <img height="30" width="65" alt="YUI logo" src="{% static "img/holding/yui.png" %}">
        </a>
        <p class="legal-license">
          This site is built using
          <a href="http://purecss.io/">
            Yahoo Pure CSS
          </a>
        </p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-5">
    </div>
  </div>
{% endblock footer %}
