{% extends "project/base.html" %}
{% load thumbnail %}

{% block sub_title %}
  Publish footer
{% endblock sub_title %}

{% block sub_heading %}
  Publish footer
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td><strong>Footer</strong></td>
            <td>{{ titlecontent.title }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pure-u-1">
      {% include '_form.html' with legend='Are you sure you want to publish this footer?' submit='Publish' %}
    </div>
  </div>
{% endblock content %}
