{% extends "block/base.html" %}

{% block sub_title %}
  Pages
{% endblock sub_title %}

{% block sub_heading %}
  Pages
{% endblock sub_heading %}

{% block content %}
  {% if user.is_staff %}
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
        <li>
          <a href="{% url 'cms.page.create' %}">
            <i class="fa fa-file-text-o"></i>
            Create page
          </a>
        </li>
        <li>
          <a href="{% url 'cms.header.footer.update' %}">
            <i class="fa fa-header"></i>
            Header and footer
          </a>
        </li>
        {% if user.is_superuser %}
          <li>
            <a href="{% url 'cms.template.list' %}">
              <i class="fa fa-file-code-o"></i>
              Templates
            </a>
          </li>
          <li>
            <a href="{% url 'cms.section.list' %}">
              <i class="fa fa-file-code-o"></i>
              Sections
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include 'base/_paginate.html' %}
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Design</th>
              <th>Config</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr valign="top">
                <td>
                  <a href="{{ object.get_absolute_url }}">
                    {% if object.deleted %}<del>{% endif %}
                    {{ object.name }}
                    {% if object.deleted %}</del>{% endif %}
                  </a>
                </td>
                <td>
                  <a href="{{ object.get_design_url }}">
                    <i class="fa fa-edit"></i>
                    Edit
                  </a>
                </td>
                <td>
                  <a href="{% url 'cms.page.update' object.pk %}">
                    <i class="fa fa-edit"></i>
                    Config
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'base/_paginate.html' %}
      </div>
    </div>
  </div>
{% endblock content %}
