{% extends "project/base.html" %}

{% load staticfiles %}

{% block title %}
  CMS
{% endblock title %}

{% block heading %}
  CMS
{% endblock heading %}

{% block sub_title %}
{% endblock sub_title %}

{% block footer %}
  <div class="legal pure-g">
    <div class="pure-u-1">
      <div class="l-box legal-logo">
        <p class="legal-license">
          For help and support, please contact Patrick on
          <a href="mailto:patrick@kbsoftware.co.uk">
            patrick@kbsoftware.co.uk
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock footer %}
